<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/static/css/main.css" />
  <script src="https://kit.fontawesome.com/ec53c9ed31.js" crossorigin="anonymous"></script>
  <title>SignIn</title>
</head>

<body>
  <form action="/login" method="POST">
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
      <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0">
        <!-- left side -->
        <div class="flex flex-col justify-center p-8 md:p-14">
          <span class="mb-3 text-3xl font-bold text-darkBlue">Login</span>
          <span class=" text-darkGrayishBlue mb-5">
            Welcome back! Please enter your details
          </span>
          <div class="py-3">
            <span class="mb-2 text-md text-darkBlue font-semibold">Email</span>
            <input type="text"
              class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500"
              name="email" id="email" />
          </div>
          <div class="py-3">
            <span class="mb-2 text-md text-darkBlue font-semibold">Password</span>
            <input type="password" name="pass" id="pass"
              class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500" />
          </div>
          <div class="flex justify-between w-full py-3">
            <div class="mr-24">
              <input type="checkbox" name="ch" id="ch" class="mr-2" />
              <span class="text-md">Remember me</span>
            </div>
            <span class="font-semibold text-darkBlue text-md">Forgot password?</span>
          </div>
          <button
            class="w-full bg-brightRed text-white p-2 rounded-lg mb-6 font-bold hover:bg-brightRedLight hover:text-white hover:border hover:border-gray-300">
            Sign in
          </button>
          <div class="text-center text-gray-400">
            Dont'have an account?
            <span class="font-semibold text-darkBlue"><a href="/signup_page">Sign up</a></span>
          </div>
        </div>
  </form>
</body>

</html>